html, body {
  background-color: #f2f2f2;
}

@media (min-width: 640px) {
	.tile {
		width: 319px;
	}
}

@media (min-width: 1024px) {
	.tile {
		width: 447px;
	}
}

@media (min-width: 1280px) {
	.tile {
		width: 655px;
	}
}

.tile {
  border-radius: 2px;
  background-color: #fff;
}
