<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="Author" content="Y.WEN">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="A personal website of Don Wyatt.">
  <title>J.WEN</title>
  <link rel="shortcut" href="Images/logo.ico">
  <link rel="icon" href="Images/logo.png">
  <!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css">

  <link rel="stylesheet" type="text/css" href="CSS/reset.css">
</head>
<body ng-app="WyattIn">
  <div ng-controller="PortraitsCtrlr as Ctrlr">

    <!-- Container of photo tiles -->
    <div layout="column" layout-align="space-around center" infinite-scroll="Ctrlr.loadItems()" infinite-scroll-distance="1" infinite-scroll-immediate-check="true">

      <!-- Pair in a row -->
      <div layout="column" layout-gt-md="row" layout-fill-width-only-Wyatt layout-margin flex ng-repeat="picArr in Ctrlr.pictures">
        <div class="tile" flex ng-repeat="pic in picArr">
          <header class="tile-header">
            {{ pic.datetaken | date:'EEEE ' }}<span style="color: #d6d6d6;">{{ pic.datetaken | date:' MMM d, y' }}</span>
            <p style="color: #d6d6d6;">
              <i class="ion-location" data-pack="default" data-tags="gps, navigation, pin"></i>&nbsp;{{ pic.datetaken | date:' MMM d, y' }}
            </p>
          </header>
          <md-card>
            <img ng-src="{{ pic.url_h }}" class="md-card-image" alt="{{ pic.title }}">
          </md-card>
          <footer class="tile-footer">
            <h3>{{ pic.title }}</h3>
            <p ng-bind-html="pic.description._content"></p>
          </footer>
        </div>
      </div>

      <!-- Loading linear -->
      <div layout="column" layout-fill class="pLinear" ng-show="Ctrlr.originalLoads.length">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>

      <!-- End point of page -->
      <div layout="column" layout-fill layout-margin ng-hide="Ctrlr.originalLoads.length">
          <md-whiteframe flex class="md-whiteframe-z1" layout="column" layout-align="center center">
            <md-card class="avatarCard">
              <img src="Images/selfie.jpg" class="md-card-image">
            </md-card>
            <p>Born on <span>Dec 28, 2011</span></p>
          </md-whiteframe>
      </div>
    </div>
    <!-- End of photo tiles -->
  </div>
</div>

<!-- JavaScript code and libraries go here to improve loading performance -->
<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Angular Material Dependencies -->
<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

<!-- Angular Material Javascript -->
<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>

<!-- ng-infinite-scroll - v1.2.0 - 2014-12-02 -->
<script src="JavaScript/ng-infinite-scroll.min.js"></script>

<script src="JavaScript/main.js"></script>
</body>
</html>
